*{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

:root{
    --main-text-color: #a1999b; 
}

::-webkit-scrollbar {
    width: 10px;
    background: white;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #0086ee;
    border-radius: 15px;
    }
/* navbar section */

#navbar-area{
    padding-top: .5rem;
}

#compName{
    font-size: 20px;
    margin-top: .1rem;
    margin-left: -2rem;
}

#navbarNav{
    padding-top: .2rem;
}

.nav-link{
    color: var(--main-text-color)!important;
    padding-left: 1.2rem!important;
    padding-right: 1.2rem!important;
    
}

.nav-link:hover{
    color: black!important;
}

#signUp{
    background-color: black;
    color: white;
    padding: .3rem .6rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 3rem;
    margin-left: .5rem;
}
#signUp:hover{
    background-color: transparent;
    color: black;
}

/* main area */

#main .container{
    text-align: center;
    padding-top: 3rem;
}

.develop{
    font-size: 110px;
    font-weight: bold;
    background: -webkit-linear-gradient(#0086ee, #00d6dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.preview{
    font-size: 110px;
    background: -webkit-linear-gradient(red, darkblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.ship{
    font-size: 110px;
    background: -webkit-linear-gradient(#fd5749, #f9b92c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}


/* main-area buttons */

.deployBtn{
    padding: .6rem 1.3rem;
    border: 1px solid black;
    background-color: black;
    color: white;
    margin-top: 2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 0rem;
}

.deployBtn:hover{
    background-color: #880041;
    color: white;
}

.demoBtn{
    background-color: white;
    color: black;
    border: 1px solid rgb(235, 232, 232);
    padding: .6rem 2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 2rem;

}

.demoBtn:hover{
    background-color: #4286f4;
    color: white;
}

.vercel-text{
    padding: 3.5rem 2rem;
}

.dot{
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#dot1{
      background-color: #00d6dd!important;
}

#dot2{
      background-color: #53005f;
}

#dot3{
      background-color: #f9b92c;
}

.vercel-explore{
    padding-top: 3rem;
}
  
/* explore section */

#explore-vercel{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.vl{
    margin-top: 3rem;
    border-left: 2px solid #0086ee;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
  
}

#firstStage{
    margin-left: 48.1%!important;
    margin-top: 9.2rem;
    height: 40px;
    width: 40px;
    background: -webkit-linear-gradient(#aee9eb, #0086ee);
    -webkit-background-clip: background;
   
    color: white;
    font-size: 18px;
}

.explore-develop{
    padding-top: 1rem;
    background: -webkit-linear-gradient(#0086ee, #00d6dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 36px;
}

.developer-start{
    font-size: 50px;
    padding-top: 1rem;
    font-weight: bold;
}

#col1{
    padding-top: 2rem;
}

#col2{
    padding-top: 2rem;
}

.devLove{
    font-size: 17.5px;
}

.vercelLove{
    font-size: 17.5px;
}

.codeImg{
    margin-top: 5rem;
}

#advantagesCol{
    padding-top: 4rem;
}

.refresh-text, .flexible-text, .edge-text{
    color: #747474;
}



/* Mobile responsiveness */
/* @media only screen and (max-width: 480px){ */
@media screen and (min-width: 320px) and (max-width: 480px){

    
    ::-webkit-scrollbar {
        width: 10px;
        background: #0086ee;
        }
        
        ::-webkit-scrollbar-thumb {
        background: #0086ee;
        border-radius: 15px;
        }
    /* navbar area */
    .logo{
        margin-left: -2rem;
    }

    .nav-link{
        padding-left: 0rem!important;
        padding-top: .6rem!important;
        text-align: center;
        font-size: 16px;
    }
    #resources{
        padding-left: .5rem!important;
    }

    #solutions{
        padding-left: .5rem!important;
    }

    #contact{
        padding-left: .2rem!important;
    }

    #login{
        padding-left: 0rem!important;
    }

    div .dropdown-item{
        text-align: center;
        font-size: 14px;
        margin-left: -.5rem;
    }
    
        
    
    #compName{
        font-size: 17px;
    }

    #signUp{
        width: 24%;
        margin-left: 8.2rem;
        margin-top: .5rem;
    }

    .vercel-explore{
        padding-top: 2rem;
    }

    /* main-area */
    .develop, .preview, .ship{
        font-size: 70px;
    }

    .deployBtn{
        font-size: 14px;
        padding: .7rem .9rem;
        margin-left: -.2rem;
    }

    .demoBtn{
        font-size: 14px;
        padding: .8rem 1rem;
        margin-left: 1rem;
    }

    .dot {
        height: 15px;
        width: 15px;
    }


    .vercel-text{
        font-size: 17px;
        text-align: center;
    }

    

    /* explore vercel section */

    
    /* first image */
    .codeImg{
        height: 180px;
        width: 280px;
        margin-left: 12.5%;
    }

    .developer-start{

        font-size: 35px;
    }

    #firstStage{
        margin-left: 45%!important;
    }

    .devLove, .vercelLove{
        font-size: 15px;
    }

    .devLove{
        text-align: center;
        width: 215%;
        padding: 1rem 2rem;
    }

    .vercelLove{
        text-align: center;
        margin-top: 7rem;
        margin-left: -115%;
        padding: 1rem 2rem;
        width: 215%;
        
        
    }

    .vl{
        left: 50.5%;
    }

}